<div class="header" nz-flex nzAlign="center" nzJustify="space-between">
    <div class="header__logo" nz-flex nzAlign="center">
        <img src="https://www.anthinhphatjsc.com/images/logo_raw.PNG" alt="logo">
        <h1 nz-typography>BDS</h1>
        <ul nz-flex nzAlign="center">
            <li class="list-item active">Giới thiệu</li>
            <li class="list-item">Dự án</li>
            <li class="list-item">Hỗ trợ</li>
            <li class="list-item">Chính sách</li>
        </ul>
    </div>
    <div class="header__login">
        <button nz-button nzShape="round" nzType="text">Đăng ký</button>
        <button nz-button nzShape="round">Đăng nhập</button>
    </div>
</div>