<p>total: {{total}}</p>


<!-- <input type="text" nz-input placeholder="Tên dự án">
<nz-select></nz-select>

<div class="input-group">
    <input type="radio" name="status">
    <input type="radio" name="status">
    <input type="radio" name="status">
</div>

<input type="file">

<textarea name="content" id="content" cols="30" rows="10"></textarea>

<nz-select></nz-select>
<nz-select></nz-select>

<textarea name="address" id="address" cols="30" rows="10"></textarea> -->

<button nz-button (click)="addProject()">Create project</button>

