<div class="transaction-history">
    <nz-tabset>
        <nz-tab nzTitle="Chờ xác nhận">
            <nz-table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Tên lô đất</th>
                        <th>Giá đặt cọc</th>
                        <th>Chi tiết lô đất</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../../../../assets/img/flat1.png" alt="" width="40px" height="40px"></td>
                        <td>TC11103</td>
                        <td>50 triệu đồng</td>
                        <td><button nz-button>Xem</button></td>
                        <td>Chờ xác nhận</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Thanh toán thành công">
    
        </nz-tab>
        <nz-tab nzTitle="Thanh toán thất bại">
            
        </nz-tab>
    </nz-tabset>

</div>