<!-- <h2>Danh sách giao dịch</h2>

<div nz-row>
    <div nz-row [nzJustify]="'space-between'" class="filter-box">
        <div class="search-box" nz-col [nzSpan]="6">
            <nz-input-group nzSearch [nzAddOnBefore]="prefixButton">
                <input [(ngModel)]="name" type="text" nz-input placeholder="">
            </nz-input-group>
            <ng-template #prefixButton>
                Tìm kiếm
            </ng-template>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-row>
                <span nz-col [nzSpan]="6" class="prefix-select">Dự án</span>
                <nz-select [(ngModel)]="requestParams.projectId" nz-col [nzSpan]="18">
                    @for (item of projectList; track $index) {
                    <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                    }
                </nz-select>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-row>
                <span nz-col [nzSpan]="8" class="prefix-select">Phân khu</span>
                <nz-select [(ngModel)]="requestParams.status" nz-col [nzSpan]="16">
                    <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                </nz-select>
            </div>
        </div>

        <button nz-button (click)="goToAddLand()"><span nz-icon nzType="plus" nzTheme="outline"></span>Thêm phân
            khu</button>
    </div>
</div> -->