<nz-layout>
  <nz-header nz-row nzAlign="middle">
    <div class="header__logo" nz-flex nzAlign="center" nz-col [nzSpan]="2">
      <img src="https://www.anthinhphatjsc.com/images/logo_raw.PNG" alt="logo" class="logo">
      <h1 nz-typography>BDS</h1>
    </div>
    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed" nz-col [nzSpan]="2"></span>
    <div nz-col [nzOffset]="18">
      <i class="fa-solid fa-user" style="color: #f57222; margin-right: 10px;"></i>
      <span style="color: #f57222; font-weight: 500; text-transform: uppercase;">Admin</span>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" class="background-orange">
      <ul nz-menu nzMode="inline" class="background-orange">
        <li nz-menu-item [routerLink]="">
          <span nz-icon nzType="user"></span>
          <span>Quản lý người dùng</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="file-text"></span>
          <span>Quản lý dự án</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="pie-chart"></span>
          <span>Quản lý khu vực</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="home"></span>
          <span>Quản lý lô đất</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="qrcode"></span>
          <span>Quản lý QR</span>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>